* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.preloader-container {
    width: 100%;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    position: relative;
}

.preloader-container img {
    position: absolute;
    width: 40%;
    height: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    animation: fadeInPreloader 700ms forwards,
        logoAnimation1 400ms 6,
        logoAnimation2 500ms 2s;
}

@keyframes fadeInPreloader {
    0% {
        top: -500px;
        width: 10%;
    }

    100% {
        top: 0px;
        width: 40%;
    }
}

@keyframes logoAnimation1 {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes logoAnimation2 {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0.6);
    }

    100% {
        transform: scaleY(1);
    }
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

.header {
    width: 100%;
    height: 80px;
    background-color: rgb(20, 20, 20, 0.7);
    position: fixed;
    z-index: 2;
}

.logo {
    position: absolute;
    height: 30px;
    width: auto;
    top: 25px;
    left: 25px;
}

.navigate {
    display: flex;
    align-items: center;
    height: 100%;
    width: 400px;
    margin: 0 auto;
}

.navigate ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navigate li {
    list-style: none;
    font-size: 1.6rem;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

.navigate a {
    color: white;
    text-decoration: none;
    transition: 150ms;
}

.navigate a:hover {
    color: rgb(5, 119, 142);
}

/*content*/

.container {
    width: 100%;
    height: 80vh;
    background-color: rgb(20, 20, 20);
}

.presentation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/banner-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.presentation {
    width: 60%;
    color: white;
}

.presentation h1 {
    line-height: 110px;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 50px;
    animation: fadeInTitlePresentation 1000ms;
}

@keyframes fadeInTitlePresentation {
    0% {
        margin-left: -50px;
    }

    100% {
        margin-left: 0px;
    }
}

.presentation span {
    background-color: rgb(5, 119, 142);
    padding-left: 10px;
    padding-right: 10px;
}

.contact-btn {
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 20px;
    border: solid 1px white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: 250ms;
    animation: fadeInTitlePresentation 1200ms;
}

.contact-btn:hover {
    background-color: white;
    color: rgb(5, 119, 142);
}

.arrow-link {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    margin: auto;
    animation: floatArrow 700ms infinite;
}

.arrow {
    width: 100%;
    height: 100%;
    filter: invert(100%);
}

@keyframes floatArrow {
    0% {
        bottom: 10px;
    }

    50% {
        bottom: 7px;
    }

    100% {
        bottom: 10px;
    }
}

/*Service container*/

.service-container,
.works-containers,
.squad-container {
    flex-direction: column;
    justify-content: center;
}

.title-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.line {
    width: 100px;
    height: 2px;
    background-color: rgb(5, 119, 142);
    margin-right: 20px;
}

.subtitle {
    color: white;
    font-family: "Staatliches", sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 2px;
}

.cards {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 27%;
    height: 250px;
    padding: 10px;
    background-color: rgb(30, 30, 30);
    transition: 250ms;
}

.card:hover {
    box-shadow: 1px 1px 10px rgb(0, 46, 55);
}

.card h3 {
    margin-top: 40px;
    margin-left: 20px;
    color: white;
    font-family: "Staatliches", sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 3px;
}

.card .divider {
    width: 100px;
    height: 2px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: rgb(5, 119, 142);
}

.card p {
    color: white;
    font-size: 1.4rem;
    margin-top: 20px;
    margin-left: 20px;
    text-indent: 15px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

/*works container*/
.works-containers {
    background-color: rgb(30, 30, 30);
}

.works-title {
    justify-content: end;
}

.works-content {
    height: 60%;
    width: 100%;
    margin-top: 50px;
}

/*squad container*/
.squad-content {
    height: 60%;
    width: 100%;
    margin-top: 50px;
    display: flex;
    overflow-x: hidden;
}

/*footer*/
.footer {
    height: 80vh;
    background-color: rgb(30, 30, 30);
    position: relative;
}

.logo-footer {
    position: absolute;
    width: 300px;
    height: auto;
    top: 50px;
    left: 50px;
}